/* @media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
} */
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.mainImg {
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-flow: column wrap;
  width: 50%;
  height: auto;
}