#related_products {
  height: 150vh;
}

.container {
  height: 100%;
  border: 2px solid black;
}

.container img {
  height: 200px;
}

.container button {
  position: absolute;
  top: 5%;
  left: 85%;
}

.react-multi-carousel-track li {
  margin-right: 0.5%;
}

/* .Carousel__Container-sc-hyhecw-0 {
  width: 80%;
  height: 20%;
}

.Carousel__Rail-sc-hyhecw-2 {
  height: 100%;
}

.gcwslj {
  height: 100%;
}

.Carousel__Item-sc-hyhecw-5 {
  height: 90%;
}

.Carousel__RailWrapper-sc-hyhecw-1 {
  height: 90%;
}

.Carousel__Container-sc-hyhecw-0 .thumbnail {
  height: 30%;
} */

/* .Carousel__Container-sc-hyhecw-0 .card {
  position: relative;
  height: 60%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
} */

/* .Carousel__Container-sc-hyhecw-0 .card .star {
  position: absolute;
  top: 5%;
  left: 85%;
}

.Carousel__Container-sc-hyhecw-0 .card .remove {
  position: absolute;
  top: 5%;
  left: 85%;
} */

